{% extends 'base.html' %}

{% block title %}Play Game{% endblock %}

{% block content %}

<form action="{% url 'guess' %}" method="POST">
		{% csrf_token %}
		{{form1}}
		<button class="btn btn-default">
			 <img src={{animal1.image_url}} width=600 height=500/>
			 <p>{{animal1.name}}</p>
		</button>
	</form>
	<form action="{% url 'guess' %}" method="POST">
		{% csrf_token %}
		{{form2}}
		<button class="btn btn-default">
			 <img src={{animal2.image_url}} width=600 height=500/>
			 <p>{{animal2.name}}</p>
		</button>

		<h3>
			Score: {{ score.player_score }}
		</h3>
</form>

{% endblock %}